* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #a9ebc2;
}

.img1 {
  height: 400px;
  width: 40%;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 50px;
  background: #D6E9FE;
}

.menu {
  margin-top: 15px;
}

.menu>li {
  display: inline;
  margin-right: 50px;
}

.menu>li:last-of-type {
  margin-right: 0;
}

header {
  text-align: center;
  overflow: hidden;
}

header {
  line-height: 1.5;
}

header {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}